body {
    background-color: #f52f57;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #f79d5c;
}

.player-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
}

label {
    font-size: 1.2em;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: #f3752b;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 119, 24) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: #f3752b;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 119, 24) 0px 7px 29px 0px;
}